<h1> Welcome <%= @user.username%></h1>
<img src="images/desk.jpeg"><br>
<h3>Click a job title to edit or delete</h3>
<h2><% @user.jobs.each do |job|%></h2>

  <div class="card">
  
  <div class="container">
   <h2><a href="/jobs/<%= job.id %>"><%= job.title %></a></h3>
    <h1><%= job.company %></h1><br>
    <br><h4>Location:</h4> <%= job.location %><br>
    <br><h4>Description:</h4> <%= job.description %><br>
    <br>
    <br><h4>Key Qualifications:</h4> <%=job.key_qualifications %><br>
    <br>
    <h4>Apply: <a href="<%=job.application_url%>"><%= job.application_url %></a></h4>
    <br>
    <%= job.time %>
    <br>

  </div>
  </div>
  <br>

  <% end %>
  



  


