
<meta charset="UTF-8">
    <link rel="stylesheet" href="stylesheets/style.css" type="text/css">
  </head>

  <body>
    <h1>Nine_to_Five JOB BOARD:</h1>

   <img src="https://lh3.googleusercontent.com/proxy/9lD4f1eP8PdhPv1lBRnHC5zUBoyydTL0oeGn5oa2tRCjb6NZbGzqdzaOh8B95SGf-gfhxMTCyDksm1Av5JpsPRzv2pdvD8D4Nb970CgzsqgrRQXCXg"><br>
      <ul>
      <br>
    <% @jobs.each do |job|%>
  <li>
   <h3><a href="/jobs/<%= job.id %>"><%= job.title %></a></h3>
    Company: <%= job.company %> 
    Location: <%= job.location %><br>
    Description: <%= job.description %><br>
    <br>

  </li>
<% end %>
</ul>
    </form>
  </body>
</html>