
<meta charset="UTF-8">
    <link rel="stylesheet" href="stylesheets/style.css" type="text/css">
  </head>

  <body>
    <center><h1>Nine_to_Five JOB BOARD:</h1></center>

   <%# <img src="images/type.jpeg"> %>
   <center><iframe src="https://gifer.com/embed/76NL" width=500 height=228.480 frameBorder="0" allowFullScreen></iframe><p></a></center></p>
      <ul>
      <br>
    <% @jobs.each do |job|%>
  <div class="card">
  
    <div class="container">
   <h2><a href="/jobs/<%= job.id %>"><%= job.title %></a></h2>
    <h1><%= job.company %></h1>
    <p>Location: <%= job.location %></p>
    Description: <%= job.description %><br>
    <br>
    <%= job.time %><br>
    <br>
    </div>
  
  </div>
  <br>
<% end %>

    </form>
  </body>
</html>