Title: <%= @job.title %>
Company: <%= @job.company %>
Description: <%= @job.description %>


 </form> <br>
<% if @job.user && session[:user_id] = @job.user.id %>

  <p><form method="POST" action="/jobs/<%=@job.id%>">
  <input type="hidden" name="_method" value="DELETE" />
  <input type="submit" value="delete" />
  </form></p>

<p><form method="GET" action="/jobs/<%=@job.id%>/edit">
  <input type="hidden" name="edit" value="EDIT" />
  <input type="submit" value="edit" />
</form></p>
<% end %>

    
  <a href="/jobs">See ALL JOBS </a>

