  <% if @job !=nil %>
  <iframe src="https://giphy.com/embed/3xIVVMnZfG3KQ9v4Ye" width="480" height="274" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p></a></p>
  <div class="card">
  <div class="container">
      <h2><%= @job.title %></h2>
      <h1><%= @job.company %></h1>
    
      
      <br>
      <h4>Location: <%= @job.location %></h4><br>
      <br>
      <h4>Description:</h4><%= @job.description %><br>
      <br>
      <h4>Key Qualifications:</h4>
      <%= @job.key_qualifications %><br>
      <br>
      
      <h4><a href="<%=@job.application_url%>">Apply to <%= @job.company %></a></h4>
      
      

      <br>
      <%= @job.time %>
      <br>
      <br>
    </div>
  </div>
  <br>
  

  <% else %>
    <% redirect to '/jobs' %>
  <% end %>


 
 <%# check this validation %>
<% if @job.user && session[:user_id] = @job.user.id %>
    
    <p><form method="GET" action="/jobs/<%=@job.id%>/edit">
    <input type="hidden" name="edit" value="EDIT">
    <input type="submit" value="     edit     "></p>
    </form></p>

    <p><form method="POST" action="/jobs/<%=@job.id%>">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="   delete   ">
    </form></p>

    

    


<% end %>

    
  

