Title: <%= @job.title %>
Company: <%= @job.company %>
Description: <%= @job.description %><br>


 </form> 

  <form method="POST" action="/jobs/<%=@job.id%>">
  <input type="hidden" name="_method" value="DELETE" />
  <input type="submit" value="delete" />

<form method="POST" action="/jobs/<%=@job.id%>">
  <input type="hidden" name="_method" value="EDIT" />
  <input type="submit" value="edit" />

  <a href="/jobs">See ALL JOBS </a>

