  <% if @job !=nil %>
      <h2><%= @job.title %></h2>
      Company: <%= @job.company %><br>
      <br>
      <%# <a href= @job.image_url_logo> %>
      Location: <%= @job.location %><br>
      <br>
      Description: <%= @job.description %><br>
      <br>
      Key Qualifications: <%= @job.key_qualifications %><br>
      <br>

  <% else %>
    <% redirect to '/jobs' %>
  <% end %>


 </form> <br>
 <%# check this validation %>
<% if @job.user && session[:user_id] = @job.user.id %>

<p><form method="GET" action="/jobs/<%=@job.id%>/edit">
  <input type="hidden" name="edit" value="EDIT" />
  <input type="submit" value="     edit     " /></p>

  <p><form method="POST" action="/jobs/<%=@job.id%>">
  <input type="hidden" name="_method" value="DELETE" />
  <input type="submit" value="   delete   " />
  </form></p>


 
</form></p>


<% end %>

    
  

